<h2>THE CONSULTANT PAGE</h2>

<h3>{{ consultant.name }}</h3>
<p>{{ consultant.image | library_img_tag: '50x50#' }}</p>
<p>{{ consultant.email_address }}</p>
<p>{{ consultant.position }}</p>
<p>{{ consultant.twitter_username }}</p>
<p>{{ consultant.linkedin_profile_url }}</p>